---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import ArticleCard from '../components/ArticleCard.astro';
import Pagination from '../components/Pagination.astro';
import { getSortedPosts } from '../utils/articles';

const allPosts = await getSortedPosts();

const articlesPerPage = 4;
const currentPage = 1;
const start = 0;
const end = articlesPerPage;
const posts = allPosts.slice(start, end);

const totalPages = Math.ceil(allPosts.length / articlesPerPage);
---

<Layout title="私の日記">
  <Header />
  
  <div class="container">
    <Sidebar />
    
    <div class="main-content">
      <main id="content">
        {posts.map(post => (
          <ArticleCard post={post} />
        ))}
      </main>
      
      {totalPages > 1 && (
        <Pagination 
          currentPage={currentPage}
          totalPages={totalPages}
          baseUrl="/page/"
        />
      )}
    </div>
  </div>
</Layout>